  <!-- Source https://mdbootstrap.com/docs/standard/navigation/footer/examples-and-customization/ and #5 -->
  <!-- Footer -->
  <footer class="text-center text-white mt-5" style=" background-color: #69626d">
    <!-- Adding fixed-bottom in the class will make the footer stick to the bottom in all pages, however, it tends to overlap the content of the main page. max-height: 20%;-->
    <!-- Grid container -->
    <div class="container">
      <section class="mt-1">
        <!-- Grid row-->
        <!-- Section: Logo -->
        <div id="logo-image" class="float-start pt-4">
          <a href="#top"> <img src="assets/img/Lost-chapter.png" alt="Lost-chapter-hover" id="ls-logo" routerLink="" class="img-fluid float-start"> </a>
          <a href="#top"> <img src="assets/img/Lost-chapter-hover.png" alt="Lost-chapter-hover" id="ls-logo-hover" routerLink="" class="img-fluid float-start"></a>
          <!-- change the routerlink above to the homepage -->
          <p class="fw-lighter fst-italic fs-5 text-center px-5 mt-5">
            Lost Chapter
          </p>
        </div>
        <!-- Section: Logo -->

        <!-- Section: Links -->
        <div id="links" class="row text-center text-decoration-none d-flex justify-content-center pt-3">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold ">
              <a href="" class="text-white text-decoration-none">Home</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2" *ngIf="roleIsCustomer">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/userprofile" class="text-white text-decoration-none">Profile</a>
            </h6>
          </div>
          <!-- Grid column -->
          
          <!-- Sends user to admin-feature if they're an admin -->
          <!-- Grid column -->
          <div class="col-md-2" *ngIf="roleIsAdmin">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/admin-feature" class="text-white text-decoration-none">Profile</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/signup" class="text-white text-decoration-none">Sign up</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/login" class="text-white text-decoration-none">Login</a>
            </h6>
          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/cart" class="text-white text-decoration-none">Cart</a>
            </h6>
          </div>

          <div class="col-md-2" >
            <span>Light</span>
            <label class="switch">
              <input type="checkbox" (click)="toggleTheme()">
              <span class="slider round"></span>
            </label>
            <span>Dark</span>
          </div>

          <!-- Grid column -->
          <!-- Section: Links -->
        </div>
        <!-- Grid row-->
      </section>


      <hr class="my-1 w-75" style="margin-left: 30%;"/>

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="fw-lighter fst-italic fs-6">
              Lost Chapter is the last online bookstore website you’ll need.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <!-- <section class="text-center mb-5">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section> -->
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href=""
         >LostChapter.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
