footer{
  background-color: var(--background-tertiary);
  color: var(--foreground-quaternary);
  font-size: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 11px;
  margin: 0 5px;
}
.switch input {
  display: none;
}


.slider {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.img-fluid{
    max-width: 25%;
}

.col-md-2:hover{
    background-color: #f46036;
}

/* Achieved hover through this, https://www.tutorialrepublic.com/codelab.php?topic=faq&file=css-image-swap-on-hover */
#logo-image {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
#logo-image #ls-logo-hover {
    display: none;
    position: absolute;
    left: 0rem;
    z-index: 99;
    cursor: pointer;
}
#logo-image:hover #ls-logo-hover {
    display: inline;
    border-radius: 6px;
    cursor: pointer;
}


