<div class="container">
  <strong><h1 style="color: #0645AD; font-size: 21px;font-weight:bolder" >Featured Books</h1></strong>
<br>
<!--https://stackblitz.com/edit/ngx-slickjs?file=src%2Fapp%2Fapp.component.html-->
<div class="slick-wrapper">
  <div slickContainer #slickController="slick" [slickConfig]="config" >
    <ng-container *ngIf="slickController.initialize" >
      <div slickItem *ngFor="let item of showResults">
            <img [src]="item.bookImage"  (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" class="p-10">
          <br><br>

        <!-- <div>
          <div slickItem style="margin: auto; color: black; text-align:left; position: absolute; bottom: 0; left: 0;"><strong>Book Title: </strong> {{item.bookName}} <br>
           <h3 slickItem id="salesPrice" style="margin: auto; color: black; text-align:left; position: absolute; bottom: 0; left: 0;">Price: <span id="salesPrice">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
         </div>
        </div> -->
         <br>

      </div>
    </ng-container>

  </div>

</div>
  <div style="margin: auto; padding: 10px; text-align: center; ">
    <button mat-stroked-button color="primary" (click)="slickController.prev()">Previous</button> &nbsp;&nbsp;&nbsp;
    <!-- <button mat-stroked-button (click)="slickController.play()">Play</button> &nbsp;
    <button mat-stroked-button (click)="slickController.pause()">Pause</button> &nbsp;&nbsp;&nbsp; -->
    <button mat-stroked-button color="primary" (click)="slickController.next()">Next</button>


  </div>

</div>


<!-- <pre>
  config: {{ config | json}}
</pre>
 -->
