<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>

    </mat-card-header>

    <form class="login-form">
      <mat-card-content>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Username" id="username" >
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input matInput placeholder="Password" id="password">
        </mat-form-field>
      </mat-card-content>

            <!-- <p></p>  errorMessage goes here -->

      <button mat-flat-button color="primary" class="btn-block" (click)="submit()">Log in</button>

      <hr>
      <br>
       <a routerLink="signup">Don't have an account? Create a new account</a>
    </form>
  </mat-card>

</div>
