<header id="container">
  <div id="nav-bar">
    <div id="nav-belt">
      <div class="nav-left">
        <div id="nav-logo">
          <a routerLink="/">Lost Chapter</a>
        </div>
      </div>
      <div class="nav-fill">
        <div id="nav-search">
          <form id="nav-search-bar-form">
            <div class="nav-fill">
              <input type="text" placeholder="Search for books"
               [(ngModel)]="searchItem" name="searchItem">
            </div>
            <div class="nav-right">
              <!-- <a routerLink="/search-results" routerLinkActive="/search-results"></a> -->
            <button type="submit" style="color: grey; background: aliceblue; height: 45px;" (click)="displaySearchReults()">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="nav-right">
        <div id="nav-tools">
          <ng-container *ngIf="ableToSignUp">
            <a routerLink="/signup">Sign up</a>
          </ng-container>
          <ng-container *ngIf="ableToLogIn">
            <a routerLink="/login">Log in</a>
          </ng-container>
          <!-- Changed routerLink above from routerLink="" to routerLink="/login"  -->
          <a routerLink="/cart">Cart</a>
        </div>
      </div>
        <div class="p-3" *ngIf="loggedIn" id="profile-buttons">
          <p class="text-white">{{currentUser}}</p>
          <!-- replace above with probably something like {{user.username}}}} -->
        </div>
        <div class="p-3" *ngIf="notLoggedIn" id="profile-buttons">
          <p class="text-info">Sign in now</p>
          <!-- replace above with probably something like {{user.name}} -->
        </div>
        <div class="p-3">
        <a routerLink="/userprofile"><span class="material-icons-outlined md-light">account_circle</span></a>
        </div>
    </div>

  </div>
  </header>
