<app-indexnavbar></app-indexnavbar>
<div class="container">
  <h1 style="font-weight: bolder;">Checkout Details for {{cart?.user?.firstName}} {{cart?.user?.lastName}}</h1>
  <div>
    <table id="cart" class="table table-hover table-container">
      <thead>
        <tr>
          <th style="width: 50%">Product</th>
          <th style="width: 10%">Price</th>
          <th style="width: 8%">Quantity</th>
          <th style="width: 22%" class="text-center">Total</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let p of cart?.booksToBuy">
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs">
                  <img [src]="p.books.bookImage" class="img-responsive"/>
                </div>
                <div class="col-sm-10">
               <strong><h4 class="nomargin" style="font-weight: bolder; color: gray;text-align: center;" >{{ p.books.bookName }}</h4></strong>
                  <p style="word-break: break-all; white-space: normal; font-weight: 520; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 32px;"  >{{p.books.synopsis}}</p>
                </div>
              </div>
            </td>
            <td data-th="Price">${{ p.books.bookPrice }}</td>
            <!-- <div *ngIf="p.books.saleisActive === true">
              <h3>Sales Price: <span id="price">${{ (p.books.bookPrice - (p.books.bookPrice * p.books.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
            </div> -->
            <td data-th="Quantity">{{ p.quantityToBuy }}
            </td>
            <td data-th="Total" class="text-center">${{ p.quantityToBuy * p.books.bookPrice }}</td>
            <td class="actions" data-th="">
              <!-- <button class="btn btn-info btn-sm" (click)="refreshPage()" ><i class="fa fa-refresh"></i></button> -->
              <button class="btn btn-danger btn-sm" (click)="onDeleteButtonClick(p.books.bookId)"><i class="fa fa-trash-o"></i></button>
            </td>

          </tr>
        </ng-container>

      </tbody>
      <tfoot>
        <tr class="visible-xs">
          <td class="text-center"><strong></strong></td>
        </tr>
        <tr>
          <td>
            <a routerLink="/home" class="btn btn-warning">
              <i class="fa fa-angle-left"></i> Continue Shopping</a>
          </td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center">
            <strong>Total ${{calculateTotalPrice(cart?.booksToBuy)}}</strong>
          </td>
          <td>
            <a routerLink="/checkout" class="btn btn-success btn-block"> Checkout <i class="fa fa-angle-right"></i></a>
          </td>
        </tr>
      </tfoot>

    </table>
  </div>
</div>
