<div class="display-product">
<br>
  <mat-dialog-content>
    <div class="container" style="display: flex;">
      <div style="width: 95%;">
        <h4><strong>{{data}}</strong></h4>
      </div>
      <div style="flex-grow:1;" class="example-button-row">
       <button  mat-raised-button color="primary"> Add to Cart
          <i class="material-icons">shopping_cart</i></button>
      </div>
    </div>

    <hr>
  </mat-dialog-content>

    <section id="product-info">
      <div class="item-image-parent">
        <div class="item-list-vertical">
          <div class="thumb-box">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41g9RfNVZBL._SX320_BO1,204,203,200_.jpg" alt="" srcset="">
          </div>

          <div class="thumb-box">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41g9RfNVZBL._SX320_BO1,204,203,200_.jpg" alt="" srcset="">
          </div>

          <div class="thumb-box">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41g9RfNVZBL._SX320_BO1,204,203,200_.jpg" alt="" srcset="">
          </div>

          <div class="thumb-box">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41g9RfNVZBL._SX320_BO1,204,203,200_.jpg" alt="" srcset="">
          </div>

        </div>

        <div class="item-image-main">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41g9RfNVZBL._SX320_BO1,204,203,200_.jpg" alt="" srcset="">

        </div>
      </div>

      <div class="item-info-parent">
        <div class="main-info">
          <h4>Ugly Love</h4> <!--{{title}}-->
          <h3>By: <span id="author" > <strong style="color: burlywood;">Coleen Hoover</strong> </span> (Author)</h3>

          <h3>ISBN: <span id="isbn" style="color: burlywood;"> <strong>1234567890</strong> </span></h3>
          <h3>Edition: <span id="edition" style="color: burlywood;"><strong>4th</strong> </span></h3>
          <h3>Price: <span id="price">$8.07</span></h3>

        <hr>

        <h4>Description</h4> <br>
        <div style="overflow-wrap: break-word; word-wrap: break-word; hyphens: auto; padding-right: 12px; margin: 0 auto; max-width: fit-content;">
        <strong> <h3 style="color: burlywood;">The record of a brilliant and subtle mind in action, The Waste Books are above all a powerful testament to the necessity, and pleasure, of unfettered thought.</h3></strong>

        </div>
      </div>
      </div>
    </section>
    <br>

    <mat-dialog-content>
      <div style="display: flex; align-items: right; justify-content: right;">
        <br>
        <button style="background-color: blue; color: burlywood;" mat-raised-button (click)="onCloseDisplayProduct()" >Cancel</button>
     </div>
    </mat-dialog-content>


</div>

