<div class="container">
  <section class="post">
      <strong><h1 style="color: #0645AD; font-size: 21px;font-weight:bolder">Book(s) on Sales</h1></strong>
    <br>
    <div class="post">
      <ng-container>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts">
            <div class="carousel-inner row w-30 mx-auto">
              <div>
                <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;">
                <br>
                <br>
               <div class="book-title" style="margin: auto; color: black; text-align: center;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <h3 class="card-text" id="salesPrice" style="color: rgb(138, 23, 23);">Sales Price: <span id="salesPrice">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
              </div>
              </div>
               <br>

            </div>
         </div>
        </div>
      </ng-container>


    </div>
  </section>
</div>
