<app-indexnavbar></app-indexnavbar>
<div id="admin-page">
  <mat-sidenav-container>
    <mat-sidenav id="profile-section" mode="side" opened>
      Profile
    </mat-sidenav>
    
    <div class="content mat-elevation-z8">
      <div class="m-3 p-3">
        <mat-card-title>Metrics</mat-card-title>
        <mat-card-content>
          Testing
        </mat-card-content>
      </div>
      
    </div>
    
    <mat-divider class="m-3"></mat-divider>
    
    <div class="content mat-elevation-z8">
      <div class="m-3 p-3">
        <mat-card-title>Add a new Book</mat-card-title>
        <mat-card-content>
          Testing
        </mat-card-content>
        
      </div>  
    </div>
      
    
    <!-- <div class="content mat-elevation-z8">
      <div>
        <mat-card-title>Metrics</mat-card-title>
        
      </div>
      
      <mat-divider></mat-divider>
      
      <div>
        <mat-card-title>Add a new Book</mat-card-title>
        
      </div>
      
    </div> -->
  
  </mat-sidenav-container>
</div>
