<app-indexnavbar (searchKeyword)="setShowKeyowrd($event)"> </app-indexnavbar>

<app-featured-products></app-featured-products>
<hr class="mb-5">

<app-sales-product></app-sales-product>
<hr class="mb-5">

<div class="container">
  <strong><h1 style="color: #0645AD; font-size: 21px;font-weight:bolder">Books with Genres</h1></strong>
  <mat-tab-group dynamicHeight [selectedIndex]="getSelectedIndex()" (selectedTabChange)="onTabChange($event)" (selectedTabChange)="getGenreById(selectedIndex)">

   <mat-tab label="Adventure" >

    <ng-template matTabContent>
      <br>
      <br>
      <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
        <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
            <div>
               <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
               <br>
               <br>
              <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
               <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
               <div *ngIf="item.saleIsActive === true">
                <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
              </div>
              </div>
               <br>

            </div>
         </div>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Novel" >
      <ng-template matTabContent>
      <br>
      <br>
      <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
        <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
            <div>
               <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
               <br>
               <br>
              <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
               <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
               <div *ngIf="item.saleIsActive === true">
                <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
              </div>
              </div>
               <br>

            </div>
         </div>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Mystery">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>

    </mat-tab>

    <mat-tab label="Fiction">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>

    </mat-tab>

    <mat-tab label="NonFiction">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>

    </mat-tab>

    <mat-tab label="Science">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Technology">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>

    </mat-tab>

    <mat-tab label="Self Improvement">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>

    </mat-tab>

    <mat-tab label="International">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Education">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Action">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>

    </mat-tab>

    <mat-tab label="Horror">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Romance">
       <ng-template matTabContent>
      <br>
      <br>
      <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
        <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
            <div>
               <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
               <br>
               <br>
              <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
               <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
               <div *ngIf="item.saleIsActive === true">
                <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
              </div>
              </div>
               <br>

            </div>
         </div>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Comedy">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Fantasy">
      <ng-template matTabContent>
        <br>
        <br>
        <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-6 mb-4 pb-4 g-5">
          <div class="col" *ngFor="let item of displayProducts"> <!--*ngFor="let item of collection | paginate {itemsPerPage: 5, currentPage: p}">-->
              <div>
                 <img [src]="item.bookImage" (click)="onDisplayProduct(item.bookId)" style="border-radius: 8px;width: 200px; height: 200px; position: relative;" alt="Placeholder">
                 <br>
                 <br>
                <div class="book-title" style="margin: auto; color: black; text-align: left;"><strong>Book Title: </strong> {{item.bookName}} <br>
                 <span class="flex-grow-1" style="color: black; text-align: left; margin: auto;text-align: left;"><strong>Price:</strong> ${{item.bookPrice}}</span> <br>
                 <div *ngIf="item.saleIsActive === true">
                  <h3 id="salesPrice" style="text-align: left;" >Sales Price: <span id="price">${{(item.bookPrice - (item.bookPrice * item.saleDiscountRate)) | number:'1.2-2' }}</span></h3>
                </div>
                </div>
                 <br>

              </div>
           </div>
          </div>
        </ng-template>
    </mat-tab>
    <br>

  </mat-tab-group>
  <hr class="mb-5">

</div>

